* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inconsolata', monospace;
}

body {
  background: #fff;
  -webkit-font-smoothing: antialiased;
  width: 100%;

  height: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 90vh;
}

.title {
  width: 100%;
  height: 80px;
}
.title h1 {
  margin-left: 77px;
  margin-top: 40px;

  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;

  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;

  text-transform: uppercase;
  color: #333333;
}
.content {
  display: flex;

  width: 100%;
  height: 60vh;
}

.image {
  display: flex;
  height: 100%;
  width: 100%;

  margin-top: 10vh;
}
.image img {
  height: 70%;
  margin-left: 77px;
}
.text {
  height: 100%;
  width: 100%;
  margin-top: 10vh;
}
.text h1 {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;

  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;

  color: #333333;
}

.text h3 {
  font-family: Space Mono;
  font-style: normal;
  font-weight: normal;

  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;

  margin-top: 5vh;
  color: #4f4f4f;
}

.text a {
  color: #fff;
  text-decoration: inherit;
  width: 216px;

  height: 68px;
  background-color: #333333;
  display: flex;

  text-align: center;
  align-items: center;
  margin-top: 40px;

  transition: 400ms;
}
.text a:hover {
  color: #333333;
  background-color: #fff;
  border: 3px solid;
}
.text a strong {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.035em;
  text-transform: uppercase;
  text-align: center;
  flex: 1;
}

.note {
  display: flex;
  justify-content: center;
  width: 100%;

  height: 80px;
}
.note h2 {
  height: fit-content;
  align-self: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
